<div class="formulario">
    <h1>Checkout</h1>
    <p>¡<span class="highlight">{{cliente}}</span>, gracias por tu compra! El número de orden es: <span class="highlight">{{numTicket}}</span></p>
    <p>Nos comunicaremos a {{email}}, para detalles sobre entrega.</p>

    {{#if purchasedProducts.length}}


    <h2>Productos comprados:</h2>
    <ul>
        {{#each purchasedProducts}}
            <li>
                <div>
                    <p>Producto: {{this.id.title}}</p>
                    <p>Cantidad: {{this.cantidad}} | Precio unitario: ${{price}}</p>
                    <p>Subtotal: ${{this.subtotal}}</p>
                </div>
            </li>
        {{/each}}
    </ul>
    <h3>Total de la compra: ${{totalPurchase}}</h3>
    {{else}}
    <p>No se compraron productos.</p>
    {{/if}}

    {{#if unpurchasedProducts.length}}
    <h2>Productos no disponibles:</h2>
    <ul>
        {{#each unpurchasedProducts}}
        <li>Producto ID: {{this}}</li>
        {{/each}}
    </ul>
    {{else}}
    <p class="no-products">Todos los productos estaban disponibles.</p>
    {{/if}}

    <div class="btn-container">
        <a href="/products" class="btn btn-store">Ir a tienda</a>
        <a href="/api/users/current" class="btn btn-profile">Perfil</a>
    </div>
</div>